@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    .container {
        height: 90vh;
        width: 90%;
    }
    .diceGameBox {
        height: 100%;
        width: 90%; 
        margin-left: 50px;
    }
    #newGame {
        width: 120px;
        height: 40px;
        margin-top: 30px;
        font-size: 12px;
        padding-bottom: 20px;

    }
    #rollDice{
        height: 40px;
        width: 130px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 5px;
    }
   #holdScore{
    height: 40px;
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
   }
}

@media screen and (max-width: 514px){
    body {
        overflow-x: hidden;
    }
    .container {
        width: 95%; 
    }
    .diceGameBox {
        width: 100%; 
        margin-left: 30px;
    }
    #newGame {
        width: 120px;
        height: 40px;
        margin-top: 30px;
        font-size: 12px;
        padding-bottom: 20px;

    }
    #rollDice{
        height: 40px;
        width: 130px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 5px;
    }
   #holdScore{
    height: 40px;
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
   }
   @media screen and (max-width:474px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 97%; 
    }
    .diceGameBox {
        width: 100%; 
        margin-left: 14px;
    }
    #newGame {
        width: 120px;
        height: 40px;
        margin-top: 30px;
        font-size: 12px;
        padding-bottom: 20px;

    }
    #rollDice{
        height: 40px;
        width: 130px;
        font-size: 12px;
        text-align: center;
        margin-bottom: 5px;
    }
   #holdScore{
    height: 40px;
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
   }
   }
}